---
layout: default
title: Mohamed Eldesouki
picture: disooqi
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Mohamed Eldesouki</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <a href="https://en.wikipedia.org/wiki/Research_associate">Research Associate</a><br/>
        <a href="http://www.qcri.org.qa/">Qatar Computing Research Institute (QCRI)</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:mohamohamed@hbku.edu.qa"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="tel:+974-33542583"><span class="glyphicon glyphicon-phone"></span>+974 33 542583</a><br/>
      <a href="https://scholar.google.com/citations?user=kilUJ5kAAAAJ&hl=en">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/disooqi">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github
      <a href="/blog/">
        <img src="img/ico/blog-icon_16x16.gif" alt=""/>
      </a> Blog
    </div>
  </div>
</div>

<p>
<!-- I develop computational models of natural language learning, 
understanding and generation in people and machines, and my research 
focuses on basic scientific, mathematical, and engineering problems 
related to these models. I am especially interested in models 
that handle the diversity of morphological, syntactic, and semantic 
phenomena across the world’s languages. 
<a href="collaborators.html">My research group</a> is part of the larger 
<a href="http://groups.inf.ed.ac.uk/edinburghnlp/">Edinburgh natural language processing group</a>, 
and we collaborate with many people in Edinburgh and more widely. I am 
also the deputy director of the 
<a href="http://datascience.inf.ed.ac.uk/">Centre for Doctoral Training in Data
Science</a>, which offers a four-year MSc + PhD programme.
-->
<!--<p>-->
<!--My name is Mohamed Eldesouki Mohamed. I am writing this letter as part of the online application to the PhD program in Computer Science and Engineering at HBKU to express my interest to be part of the program. </p>-->
<!--<p>-->
<!--Currently I am working as a Research Associate at Qatar Computing Research Institute (QCRI), HBKU. Joining such prestigious research institute contributed substantially in crafting my research personality. It gave me the opportunity to learn the craft of research through participating on publishing in the top-tier conferences and through developing the state-of-the-art technologies in the field of Arabic Language Technologies. At QCRI, I have firsthand experience of what first-class research is like. Discussions with scientists and researchers, and working within joint projects with other best universities and research centers; such as MIT and CMU outside and inside Qatar, has drawn the path that I should take to be one of the top-notch researchers one day. I was always dreaming to be in such place and I hope to continue being part of this community by being accepted for the PhD position.</p>-->
<!--<p>-->
<!--Let me tell you more about my achievements at QCRI. I have participated in the research and development process of building FARASA; the-state-of-the-art Arabic language Segmenter, POS tagger, Parser and Diacritizer. After that I started working with Dialectal Arabic, I led the work in the DSL Shared Task 2016 of the VarDial 2016 workshop for Arabic Dialect Identification and achieved the BEST ACCURACY. Continuing working with Dialectal Arabic, I participated in developing word segmenter for the Egyptian Dialect using deep NN-based approach namely bi-LSTM and I got two papers accepted in the WANLP2017 co-located with EACL 2017. Please refer to my CV for more details about my work at QCRI.-->
<!--</p>-->
<br />
<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


